<div class="mailbox-content">

    <table class="table">
        <tbody>
            <tr class="unread checked">
                <td class="hidden-xs">
                    <input type="checkbox" class="checkbox">
                </td>
                <td class="hidden-xs">
                    <i class="fa fa-star icon-state-warning"></i>
                </td>
                <td class="hidden-xs">
                    Google
                </td>
                <td>
                    Nullam quis risus eget urna mollis ornare vel eu leo
                </td>
                <td>
                     <i class="fa fa-paperclip"></i>
                </td>
                <td>
                    12 march
                </td>
            </tr>
            <tr class="read checked">
                <td class="hidden-xs">
                    <input type="checkbox" class="checkbox">
                </td>
                <td class="hidden-xs">
                    <i class="fa fa-star"></i>
                </td>
                <td class="hidden-xs">
                    Microsoft
                </td>
                <td>
                    Nullam quis risus eget urna mollis ornare vel eu leo
                </td>
                <td>
                    <i class="fa fa-paperclip"></i>
                </td>
                <td>
                    1 march
                </td>
            </tr>

        </tbody>
    </table>
</div>