<li id="header_inbox_bar" class="dropdown">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="fa fa-envelope-o"></i>
        <span class="badge bg-important">1</span>
    </a>
    <ul class="dropdown-menu extended inbox">
        <li>
            <p class="red">1 yeni mailiniz var</p>
        </li>
        <li>
            <a href="#">
                <span class="photo">
                    <img alt="avatar"
                         src="~/profilTemp/images/3.png">
                </span>
                <span class="subject">
                    <span class="from">Jonathan Smith</span>
                    <span class="time">İndicə</span>
                </span>
                <span class="message">
                    Hello, this is an example msg.
                </span>
            </a>
        </li>
        <li>
            <a href="#">Bütün mailləri gör</a>
        </li>
    </ul>
</li>
