

<li class="dropdown">
    <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">
        <i class="fa fa-user"></i><span class="badge">
            @ViewBag.id
        </span>
    </a>
    <ul class="dropdown-menu">
        <li class="dropdown-menu-header text-center">
            <strong>Hesab</strong>
        </li>
        <li class="m_2">
            <a href="/Blog/Profile/UpdateProfile/@ViewBag.id">
                <i class="fa fa-bell-o">
                </i> Güncəllə 
            </a>
        </li>
        <li class="m_2">
            <a href="/Blog/Mail/Inbox/">
                <i class="fa fa-envelope-o">
                </i> Mesajlar <span class="label label-success">@ViewBag.MbS</span>
            </a>
        </li>
        <li>
            <a href="/Blog/Stats/Index/">
                <i class="fa fa-comments">
                </i> Şərhlər <span class="label label-warning">@ViewBag.CoCbY</span>
            </a>
        </li>
        <li class="dropdown-menu-header text-center">
            <strong>Tənzimləmələr</strong>
        </li>
        <li class="m_2">
            <a href="/Blog/Profile/UpdateProfile/@ViewBag.id">
                <i class="fa fa-user"></i> Profil
            </a>
        </li>

        <li class="m_2">
            <a href="/Login/Login/LogOut">
                <i class="fa fa-lock"></i> Çıxış
            </a>
        </li>
    </ul>
</li>