@model IEnumerable<EntityLayer.Concreate.Message>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-comments-o"></i><span class="badge">
            @ViewBag.MbS
         </span></a>
    <ul class="dropdown-menu">
        <li class="dropdown-menu-header">
            <strong>Mesajlar</strong>
        </li>
        @foreach (var item in Model.TakeLast(5))
        {
            <li class="avatar">
                <a href="/Blog/Mail/MailReadAll/@item.MessageID">
                    <img src="~/ProfilPictures/@item.SenderUser.WriterImage"
                     class="img-responsive img-circle" alt="">
                    <div>Yeni Mesaj</div>
                    @* <small>1 minute ago</small>*@
                    <span class="label label-info">Yeni</span>
                </a>
            </li>
        }
        <li class="dropdown-menu-footer text-center">
            <a href="/Blog/Mail/Inbox">Bütün mesajları gör</a>
        </li>
    </ul>
</li>