<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="index.html">
                    <i class="fa fa-dashboard fa-fw nav_icon"></i>
                    İdarə Paneli
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-indent nav_icon"></i>
                    Bloqlar<span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Blog/Admin/BlogList">Bloqlarım</a>
                    </li>
                    <li>
                        <a href="/Blog/Admin/AddBlog">Yaradın</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-envelope nav_icon"></i>
                    Mesajlar<span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="inbox.html">Gələnlər</a>
                    </li>
                    <li>
                        <a href="compose.html">Mesaj Yaz</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="widgets.html">
                    <i class="fa fa-cogs nav_icon">
                    </i>Statistikalar
                </a>
            </li>
            <li>
                <a href="widgets.html">
                    <i class="fa fa-cog nav_icon">
                    </i>Tənzimləmələr
                </a>
            </li>
            <li>
                <a href="/Login/Login/Logout">
                    <i class="fa fa-sign-out nav_icon">
                    </i>Çıxış
                </a>
            </li>
            <li>
                <a href="/Blog/Blog/Index">
                    <i class="fa fa-reply nav_icon">
                    </i>Geri
                </a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>