@model IEnumerable<EntityLayer.Concreate.Category>
<div class="col-md-6 stats-info">
    <div class="panel-heading">
        <h4 class="panel-title">Kateqoriyalar</h4>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled">
            @foreach (var item in Model.Take(7))
            {
                <li>
                    @item.CategoryName
                    <div class="text-success pull-right">
                        @item.CategoryID<i class="fa fa-level-up"></i>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>