

<div class="col-md-3 widget widget1">
    <div class="r3_counter_box">
        <i class="pull-left fa fa-thumbs-up icon-rounded"></i>
        <div class="stats">
            <h5><strong>@ViewBag.perc%</strong></h5>
            <span>Bloq/Yazıçı nisbəti</span>
        </div>
    </div>
</div>
<div class="col-md-3 widget widget1">
    <div class="r3_counter_box">
        <i class="pull-left fa fa-users user1 icon-rounded"></i>
        <div class="stats">
            <h5><strong>@ViewBag.CoU</strong></h5>
            <span>Yazıçıların sayı</span>
        </div>
    </div>
</div>
<div class="col-md-3 widget widget1">
    <div class="r3_counter_box">
        <i class="pull-left fa fa-comment user2 icon-rounded"></i>
        <div class="stats">
            <h5><strong>@ViewBag.comm%</strong></h5>
            <span>Şərh/bloq nisbəti</span>
        </div>
    </div>
</div>
<div class="col-md-3 widget">
    <div class="r3_counter_box">
        <i class="pull-left fa fa-leaf  icon-rounded"></i>
        <div class="stats">
            <h5><strong>@ViewBag.dLb</strong></h5>
            <span>Son yazı tarixiniz</span>
        </div>
    </div>
</div>

<div class="clearfix"> </div>