<div class="cloud">
    <div class="grid-date">
        <div class="date">
            <p class="date-in">New York</p>
            <span class="date-on">°F °C </span>
            <div class="clearfix"> </div>
        </div>
        <h4>30°<i class="fa fa-cloud-upload"> </i></h4>
    </div>
    <p class="monday">Monday 10 July</p>
</div>