
<div class="cloud">
    <div class="grid-date">
        <div class="date">
            <p class="date-in">Bakı,Azərbaycan</p>
            <span class="date-on"><i class="fa fa-sun-o"> </i></span>
        </div>
        <h4>@ViewBag.heat °C</h4>
    </div>
    <p class="monday">@DateTime.Now.ToString("dddd-MMMM")</p>
</div>