@model EntityLayer.Concreate.Blog

@{
    Layout = "~/Areas/Blog/Views/Shared/_AdminLayout_.cshtml";
}


<div class="xs">
    <div class="well1 white">
        <form class="form-floating ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-url ng-valid-pattern" method="post" action="/Blog/Admin/AddBlog"
              novalidate="novalidate" enctype="multipart/form-data"
              ng-submit="submit()">
            <fieldset>
                <div class="form-group">
                    <label class="control-label">Başlıq</label>
                    <input type="text" class="form-control1"
                           name="BlogTitle" required="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label class="control-label">Kateqoriya</label>
                    @Html.DropDownListFor(x=>x.CategoryID,
                    (List<SelectListItem>)ViewBag.v,new {@class="form-control1" })
                </div>

                <div class="form-group">
                    <label class="control-label">Şəkil</label>
                    <input type="file" class="form-control1"
                           name="BlogImage" required="">
                </div>

                <div class="form-group">
                    <label class="control-label">Məzmun</label>
                    @Html.TextAreaFor(x=>x.BlogContent,5,10,
                    new {@class="form-control1 control2" , autocomplete="off"})
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Yarat</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>


<script>
    @{
        var messaje = TempData["NotEmpty"];
    }
    var message = '@messaje';
    if (message) {
        swal("Opps", message,"info");
    }
</script>

