<div class="content-box-wrapper text-center">
    <h4 class="content-box-header">
        Chat
        <small>(Online friends)</small>
    </h4>
    <div class="status-badge mrg10A">
        <img class="img-circle" width="40" src="~/adm/images/1.png" alt="">
        <div class="small-badge bg-red"></div>
    </div>
    <div class="status-badge mrg10A">
        <img class="img-circle" width="40" src="~/adm/images/2.png" alt="">
        <div class="small-badge bg-orange"></div>
    </div>
    <div class="status-badge mrg10A">
        <img class="img-circle" width="40" src="~/adm/images/3.png" alt="">
        <div class="small-badge bg-red"></div>
    </div>
    <div class="status-badge mrg10A">
        <img class="img-circle" width="40" src="~/adm/images/4.png" alt="">
        <div class="small-badge bg-green1"></div>
    </div>
    <div class="status-badge mrg10A">
        <img class="img-circle" width="40" src="~/adm/images/5.png" alt="">
        <div class="small-badge bg-orange"></div>
    </div>
    <div class="status-badge mrg10A">
        <img class="img-circle" width="40" src="~/adm/images/1.png" alt="">
        <div class="small-badge bg-red"></div>
    </div>
    <div class="status-badge mrg10A">
        <img class="img-circle" width="40" src="~/adm/images/2.png" alt="">
        <div class="small-badge bg-green1"></div>
    </div>
    <div class="status-badge mrg10A">
        <img class="img-circle" width="40" src="~/adm/images/3.png" alt="">
        <div class="small-badge bg-orange"></div>
    </div>
</div>