@model IEnumerable<EntityLayer.Concreate.Writer>

<div class="content-box-wrapper text-center">
    <h4 class="content-box-header">
        Söhbət
        <small>(Online dostlar)</small>
    </h4>
    @foreach (var item in Model)
    {
        <div class="status-badge mrg10A">
            <img class="img-circle" width="60" src="~/ProfilPictures/@item.WriterImage" alt="">
            <div class="small-badge bg-red"></div>
        </div>
    }
</div>